#homePage #pageName{
	text-align: center;
}

#homePage #loginBox{
	border: 1px #333 solid;
	border-radius: 10px;
	padding: 20px; 15px;
}

.btn-primary{
	background-color:#337ab7 !important;
	color:#fff !important;
}
