/* your styles go here */
.page-content {
	background-color: white;
}

.page-header {
	  background: #fff;
	  color: #8a8d93;
}

.statistic-block {
	/* background-color: #8a8d93 !important;
	color: #ff0000 !important; */
}

/* padding: 20px;
background: #2d3035;
color: #8a8d93; */