/* your styles go here */
.page-content {
	background-color: white;
}

.page-header {
	  background: #fff;
	  color: #8a8d93;
}

#block {
	/* color: #fff; */
	background-color: #fff;
	/* justify-content: center; */
}
